# Files and directories suggested to be ignored by Drupal
# @see https://git.drupalcode.org/project/drupal/-/blob/10.0.x/example.gitignore
/web/core
/vendor/
/web/sites/*/settings.php
/web/sites/*/settings.*.php
/web/sites/*/services*.yml
/web/sites/*/files
/web/sites/*/private
/web/sites/simpletest

# Directories specific to this template
/web/libraries
/web/modules/contrib
/web/profiles/contrib
/web/themes/contrib

# Production config files
/config/*

# OS X
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Ignore VS code config
.vscode/

# Ignore backup misc files
*.sql
*.zip
*.gz
dockerfile_backup*

# env-file
.env*
!.env.example
